:root {
  --bs-primary: #d16366;
}
html {
}
body {
  overflow-x: hidden;
}

.tilte {
  color: var(--bs-primary);
  font-weight: bolder !important;
  margin-bottom: 1.5rem;
}

.container1 {
  padding: 25px 0px;
}

.a {
  text-decoration: none;
}

.btnnew {
  color: #fff;
  background-color: #c7686a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 50px;
  margin: 10px;
  border-radius: 5px;
  margin-left: 0px;
  font-weight: bold;
  text-decoration: none;
}

.btnnew2 {
  color: #c7686a;
  border: 1px solid #c7686a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 50px;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.imagesHeader {
  margin-top:20px ;
}
.formContainer {
  max-width: 400px;
  width: 100%;
  background-color: #ffffff89;
  border-radius: 5px;
  padding: 15px;
}

.formContainer h2 {
  color: #c7686a;
  text-align: center;

  margin-bottom: 15px;
  font-weight: bold;
}
.form-group {
  margin: 5px 0px;
}

.form-group input {
  padding: 10px;
  box-shadow: 0 0 3px 0px #0000003c;
}
.imagesHeader img {
  margin: 0px 5px;
}
.text p {
  max-width: 320px;
  font-weight: 500;
  margin-bottom: 20px;
}

form button {
  background: #c7686a;
  width: 100%;
  color: #fff;
  outline: none;
  border: none;
  padding: 5px 0px;
  margin: 10px 0px;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s ease all;
}
form button:hover {
  background-color: rgb(16, 206, 86);
}

@media (max-width: 768px) {
  .container1 {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
  .imagesHeader {
    margin-bottom: 20px;
  }
  .text {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .gradient {
    width: 600px !important;
    height: 600px !important;
    top: -77px !important;
  }

  .btnnew {
    padding: 10px 20px;
  }
  .btnnew2 {
    padding: 10px 20px;
  }
  .form {
    width: 100% !important;
    padding: 0px 20px;
  }
}
.swiper-container {
  -webkit-user-select: none;
  position: relative;
  z-index: 10 !important;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.item figure,
.swiper-slide figure {
  position: relative;
}

.rounded {
  border-radius: 0.4rem !important;
}

element.style {
}
.swiper-container .swiper img {
  width: 90%;
  height: 100px !important;
}

.testimon-container {
  display: flex;
  gap: 50px;
}

.testimon {
  border: 1px solid #c7686a ;
  padding:  20px;
  /* max-width: 400px; */
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  justify-content: center;

}

.testimon p {
  font-size: 23px;
  font-weight: 500;
  margin: 0px;
  text-align: start;
}

.dach {
  width: 15px;
  height: 2px;
  margin-right: 5px;
  background-color: #7d1f1d;
}

.person  {
  display: flex;
  align-items: center;
  color: #7d1f1d;
  font-weight: 700;
  margin: 5px 0px;
}
.testimon img {
  width: 25px;
}

@media (max-width: 768px) { 
  .testimon-container {
    flex-direction: column;
    padding:0px 20px;
  }

}

.img-container {
  width: 50%;

}

.img-container img {
  width: 100%;
  border: 1px solid #c7686a;
  border-radius: 10px;

}

.cta  {
  display: flex;
  align-items: center;
  padding: 30px 0px;
}

.cta h3 {
  color: #c7686a;
  font-weight: 500;
  text-align: start;
}
.cta .text {
 width: 50%;
 margin-left: 50px;
}
.cta p {
  font-size: 16px;
  margin-top: 10px;
  text-align: start;
  max-width: 100%;
}

@media (max-width: 991px) { 
  .cta  {
    flex-direction: column;
    align-items: center;
  }
  .img-container {
    width: 100%;
  
  }
  .cta h3 {
    text-align: center;
  }
  .cta p {
    text-align: center;
  }
  .cta .text {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .cta .text p {
    max-width: 100% !important;
  }

 
}

.services-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 40px 0px;
  gap: 30px;
}

.service {
  width: 22%;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #c7686a;
}

.service img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease;
}

.service:hover img {
  transform: scale(1.1);
}

.service h4 {
  bottom: 10px;
  left: 50%;
  
  font-size: 22px;
  transform: translateX(-50%);
  color: #fff;
}

@media (max-width: 991px) {

  .service{
    width: 45%;
  }
 }

 @media (max-width: 576px) {
  .service{
    width: 90%;
  }
 }


 @media (max-width: 768px) {

  .trust-container {
    flex-direction: column;
  }
  }






.cta-2 div {
 border: 1px solid #c7686a;
 padding: 25px 20px;
 margin: 10px;
 display: flex;
 flex-direction: column;
 align-items: center;
 border-radius: 5px;
}

.cta-2 div h5 {
  max-width: 290px;
  text-align: center;
}

.cta-2 div a {
  padding: 5px 40px;

}

@media (max-width: 576px) { 
  .cta-2 {
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
  }

  .cta-2 div{
    width: 80%;
  }
}
